# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
instance/
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Environment variables
.env
!.env.example

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Docker
